@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --green: #1efdf2;
  --white: #fff;
   --black: #2e2525;
   --orange: #f8732b;
   --background-color: #01949A;
  --light-color: #28fa79;
  --box-shadow: .5rem .5rem 0 rgba(0, 0, 0, 0.2);
  --text-shadow: .2rem .2rem 0 rgba(0, 133, 129, 0.2);
  --border:.2rem solid var(--green);
}


*{
     font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
    border:none;
    transition: all .2s ease-in-out;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
  background-color: #51bbb6;
}

.hero {
  width: 100%;
  background: var(--background-color);
  color: var(--white);
  display: flex;
  flex-direction: column;
}

nav{
  background-color: var(--white);
  width: 100%;
  padding:10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height:auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

nav .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* align text to left */
  line-height: 1.2;
}

nav .logo a {
    font-size: 2rem;
    font-weight: 900;
    color: var(--background-color);
    text-shadow: var(--text-shadow);
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.btn{
    background:white;
    display:inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border: var(--background-color) 2px solid;
    border-radius: .5rem;
    box-shadow: #1b2726 3px 3px 0px 0px;
    color:var(--background-color);
    cursor:pointer;
    font-size: 1.7rem;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background:var(--background-color);
    color:var(--white);
    margin-left:.5rem;
}

.btn:hover{
    background: var(--orange);
    color: var(--white);
    
}

.btn:hover span{
    background: var(--white);
    color: var(--background-color);
    margin-left: 1rem;
    
}

nav .user{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.user .welcome {
  font-size: 1rem;
  color: var(--background-color);
  font-weight: 600;
  margin-right: 10px;
}

.user button {
  padding: 10px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  border-color: var(--background-color);
  border-width: .1rem;
  border-style: solid;
}

.user button i{
  color:var(--background-color);
}

.sub-menu-wrap {
  position: absolute;
  top: 100px;
  right: 10%;
  width: 320px;
  overflow: hidden;
  max-height: 0px;
  transition: 0.4s ease-in-out;
  z-index: 1000;
}

.sub-menu-wrap.openMenu{
  max-height: 500px;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  border-radius: 10px;
  z-index: 1000;
  
}

.sub-menu{
  background: #fff;
  padding: 20px;
  margin: 10px;
  color:var(--background-color);
  
}

.user-info{
  display: flex;
  align-items: center;

}

.user-info strong {
  margin-left: 10px;
  font-size: 1.3rem;
  color: var(--background-color);
}

.user-info i{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: var(--background-color)solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 233, 235);
}

.sub-menu hr{
  border:0;
  height: 1px;
  width: 100%;
  background-color: var(--background-color);
  margin:15px 0 10px;
}

.sub-menu-link i{
 width: 40px;
 background-color: rgb(226, 233, 235);
 border-radius: 50%;
 padding:12px;
 display: flex;
 align-items: center; 
 justify-content: center;
 color: var(--background-color);
}

.sub-menu-link #arrow {
  font-size: 15px;
  color: var(--background-color);
  background-color: transparent;
  border: none;
  padding: 0;
  width: 24px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.4s;
}
.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--background-color);
  margin: 12px 0;
  width: 100%;
}
.sub-menu-link p {
  font-size: 1.5rem;
  margin-left: 15px;
  flex: 1;
}

.sub-menu-link:hover #arrow{
  color: var(--orange);
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  color: var(--orange);
  text-decoration: none;
}

.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.logout-modal-content {
  background: var(--white);
  color: var(--background-color);
  padding: 30px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.logout-modal-content p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.logout-buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.logout-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-yes{
  background-color: var(--orange);
  color: white;
}

.btn-yes:hover {
  transform: scale(1.2);
}

.btn-no {
  background-color: var(--background-color);
  color: white;
}

.btn-no:hover {
  transform: scale(1.2);
}

.booking .heading{
    font-size: 4.5rem;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
    color:#3f3f3f;
    text-shadow: rgba(0, 0, 0, 0.2) .3rem .4rem;
    letter-spacing: .5rem;
}

.booking span{
  color:var(--white);
}
.booking .row{

  display:flex;
  flex-wrap: wrap;
  align-items: center;
  gap:2rem;
  
}

.booking .btn{
    background:white;
    display:inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: var(--background-color) 2px solid;
    border-radius: .5rem;
    box-shadow: #1b2726 3px 3px 0px 0px;
    color:var(--background-color);
    cursor:pointer;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
}

.booking .btn:hover{
    background: var(--orange);
    border:var(--white)1px solid;
    color: var(--white);
    
}


.booking .row .image{
  flex: 1 1 45rem;
}

.booking .row .image img{
  width: 100%;
}

.booking .row form{
  flex:1 1 45rem;
  background-color: var(--white);
  border: var(--black) 1px solid;
  box-shadow: var(--box-shadow);
  padding:2rem;
  text-align: center;
  margin-right: 30px;
  border-radius: 20px;
}

.booking .row form h3{
  color:var(--orange);
  font-size: 2.5rem;
  padding-bottom:1rem;
}

.booking .row form .box{
  width: 100%;
  margin:.6rem 0;
  border-radius: .5rem;
  font-size: 1.6rem;
  border:var(--background-color) 1px solid;
  color:var(--black);
  text-transform: none;
  padding:1rem;
}

.form-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 60px;
}

form {
  position: relative;
  background: white;
  padding: 40px 20px 20px;
  border-radius: 15px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.booking .row .form-wrapper {
  position: relative;
  flex: 1 1 45rem;
  margin-right: 30px;
}

.booking .row .form-wrapper .peek-container {
  position: absolute;
  top: -147px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
}

.booking .row .form-wrapper .peeking-pet {
  width: 400px;
  max-width: 100%;
  object-fit: contain;
}

.form-scroll {
  max-height: 450px;             
  overflow-y: auto;              
  overscroll-behavior: contain;  
  padding-right: 10px;           
}

.form-scroll::-webkit-scrollbar {
  width: 6px;
}
.form-scroll::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  border-radius: 10px;
}

.second-navbar {
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  min-width: 100vh;
}

.second-navbar .container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 50px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0 10px 5px;
  z-index: 10000;
}

.second-navbar .container nav a{
  position:relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color:var(--background-color);
  text-decoration: none;
  padding:0 23px;
  z-index: 1;
}

.second-navbar .container nav span{
  position: absolute;
  top:0;
  left:0;
  width:95px;
  height: 100%;
  background: var(--orange);
  border-radius: 8px;
  transition: .5s;
  opacity: 0;
}

.second-navbar .container nav a:nth-child(1):hover ~ span{
  left:76px;
  opacity: 1;
}

.second-navbar .container nav a:nth-child(2):hover ~ span {
  left: 195px;
  opacity: 1;
}

.second-navbar .container nav a:nth-child(3):hover ~ span {
  left:324px;
  width:150px;
  opacity: 1;
}

.second-navbar .container nav a:nth-child(4):hover ~ span {
  left:508px;
  opacity: 1;
}

.second-navbar .container nav a:nth-child(5):hover ~ span {
  left:629px;
  opacity: 1;
}

.second-navbar .container nav a:hover {
  color: var(--white);
}

#services {
    width: 100%;
    padding: 5rem 10%;  
    background-color: whitesmoke;
}

.peeking-dog {
  position: absolute;
  width: 200px;
  top: -100px; /* adjust depending on your image */
  left: -103px;
  transform: translateX(-50%);
  z-index: 2;
}

.peeking-dog2 {
  position: absolute;
  width: 300px;
  top: -10px; /* adjust depending on your image */
  left: -30.3px;
  transform: translateX(-50%);
  z-index: 2;
}

.dog-lying {
  rotate:calc(2deg);
  position: absolute;
  width: 350px;
  top: -137px; /* adjust depending on your image */
  left: 140px;
  z-index: 2; /* behind the content */
}

.box {
  position: relative;
  overflow: visible; /* Allow the dog image to overflow if needed */
}

#services .heading{
    font-size: 4.5rem;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    padding-bottom: .5rem;
    text-transform: uppercase;
    color:#3f3f3f;
    text-shadow: rgba(0, 0, 0, 0.2) .3rem .4rem;
    letter-spacing: .5rem;
}

#services .heading span{
    color:var(--background-color);
}

#services .box-container{
    display: grid;
    gap: 3.5rem;
    grid-template-columns: repeat(3, 1fr);
}

#services .box-container .box{
    border-color: var(--background-color);
    border-style: solid;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 4.5rem;
}

#services .box-container .box i{
    padding-left: .5rem;
    font-size: 5.5rem;
    color: var(--orange);
}   

#services .box-container .box h3{
    font-weight: 800;
    font-size: 3rem;
    color: var(--background-color);
    padding: 1rem 0;
}

#services .box-container .box p{
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 500;
    padding: 1rem 0;
} 

/*dynamic content*/
.tab-content {
  display: none;
  min-height: calc(100vh - 200px); /* Adjust to fit your layout */
}

.tab-content.active {
  display: block;
}

/*animation*/















/*responsive*/


